a {
  color: #4b4b4b;
  text-decoration: none;
  border-bottom: 1px solid #00a0ff;
  line-height: 30px;
  display: block;
  width: 20vw;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #4d4d4d;
    color: #f7f7f7;
  }

  a {
    color: #fff;
  }
}
