.body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

tbody {
  td:first-child {
    font-weight: 700;

    > code {
      font-weight: 400;
      margin-left: 2px;
    }
  }
}


svg {
  display: inline-block !important;
}

// fix for nextra theme
footer {
  .nx-mx-auto:empty {
    display: none;
  }
}
